:root {
    --background-bright: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 128, 45, 1) 100%);
    --background-dark: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(128,0,182,1) 100%);
    --background: var(--background-bright);

    --background-container-bright: rgba(255, 255, 255, 0.51);
    --background-container-dark: rgba(185, 185, 185, 0.36);
    --background-container: var(--background-container-bright);

    --text-color-main-bright: black;
    --text-color-main-dark: rgb(189, 189, 189);
    --text-color-main: var(--text-color-main-bright);

    --text-color-second-bright: rgba(0, 0, 0, 0.6);
    --text-color-second-dark: rgba(171, 171, 171, 0.68);
    --text-color-second: var(--text-color-second-bright);

    --text-color-third: black;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

#goBack {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--text-color-second);
    text-decoration: none;
}

html {
    height: 100%
}

body {
    color: var(--text-color-main);
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    max-height: 100%;
    background: var(--background);
    align-items: center;
    justify-content: center;
}

.weather {
    position: relative;
    width: 450px;
    height: 600px;
    background: var(--background-container);
    padding: 20px 20px;
    border-radius: 18px;
    font-family: sans-serif;
    overflow: hidden;
}

.searchbar {
    position: relative;
    z-index: 5;
    float: right;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar input {
    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
    height: 80%;
    font-size: 1.3em;
}

.buttons {
    display: flex;
    width: 30%
}

.buttons button {
    background: rgba(0, 0, 0, 0);
    font-size: 2.0em;
    height: 100%;
    width: 100%;
}

.buttons button:hover {
    background: rgba(255, 255, 255, 0.52);
}

.weather-container {
    text-align: center;
    height: 90%
}

#weather-image {
    position: relative;
    z-index: 0;
    height: 50%;
}


.weather-information {
    height: 500px;
    margin-bottom: 50px;
}

.weather-main {
    font-size: 4em;
}


.weather-add-row {
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 80px;
    font-size: 1.2em;
}

.info-temp {
    font-size: 1.2em;
}

.info {
    font-size: 1em;
    color: var(--text-color-second);
}

.sun_moon {
    align-items: center;
    width: 60px;
    padding-top: 20px;
    font-size: 1.2em;
}

.sun_moon img {
    width: 40px;
}

ul {
    list-style: none;
}

.list {
    color: var(--text-color-third);
    z-index: 10;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0 0 5px 5px;
}

.list-items {
    max-width: 100%;
    position: relative;
    padding: 10px 5px;
    z-index: 5;
}

.list-items:hover {
    background-color: #ffffff;
}

#input {
    padding-top: 5%;
}

#help {
    max-height: 100%;
}

.row-content {
    color: var(--text-color-main);
    font-size: 1.15em;
    width: 43%;
    display: flex;
    justify-content: space-between;
}

.extra {
    width: 80px;
    font-size: 1.1em;
}

.extra img {
    width: 60px;
}

#wind {
    padding-left: 30px;
    padding-right: 30px;
}

#wind-direction-img {
    max-width: 60%;
}

#wind-direction-img:hover{
    animation: rotate 2s infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#input{
    color: var(--text-color-main);
}

#input::placeholder{
    color: var(--text-color-main);
}

.switch {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 64px;
    height: 34px;
    display: inline-block;
}

.switch span {		    /* Der graue Untergrund des Schalters */
    position: absolute;
    background-color: #ccc;
    border-radius: 17px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color .4s;
}

.switch span::before {    /* Der kreisrunde Button im Switch */
    background-color: white;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 4px;
    bottom: 4px;
    height: 26px;
    width: 26px;
}

input:checked + span {
    background-color: #001764;
}

input:checked + span::before {
    transform: translateX(30px);
}

.switch input {
    display: none;
}